@import "~bootstrap/dist/css/bootstrap.min.css";
/* background */
html,
body {
  background: radial-gradient(
    848px at 10% 20%,
    rgba(174, 231, 165, 0.9) 0%,
    rgb(181, 205, 154) 90%
  );
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* header */
h1 {
  padding-top: 50px;
}

/* button */
button {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: auto;
}
button:hover {
  background-color: #43a446; /* Green */
}
button:active {
  background-color: #43a446;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* excuse */
p {
  padding: 50px;
}

#quote {
  font-family: "Times New Roman", serif;
}
